# # Minimum Requirements

# ## Basics
# # numpy Installed via conda
# Cython # The Cython compiler for writing C extensions for the Python language.
# tqdm # Fast, Extensible Progress Meter
# matplotlib # Python plotting package
# requests # Python HTTP for Humans.
# urllib3 # HTTP library with thread-safe connection pooling, file post, and more.
# # requests can't use idna >3 yet
# idna # Internationalized Domain Names in Applications (IDNA)
# pandas # Powerful data structures for data analysis, time series, and statistics
# attrs # Classes Without Boilerplate
# six # Python 2 and 3 compatibility utilities
# future # Clean single-source support for Python 3 and 2
# python-dateutil # Extensions to the standard Python datetime module
# PyYAML # YAML parser and emitter for Python
# joblib # Lightweight pipelining: using Python functions as pipeline jobs.
# Pillow # Python Imaging Library (Fork)
# pyzmq # Python bindings for 0MQ
# python-crontab # Python Crontab API
# cmake # CMake is an open-source, cross-platform family of tools designed to build, test and package software
# protobuf # Protocol Buffers

# ## Utilities
# httpie # HTTPie - a CLI, cURL-like tool for humans.
# cloudpickle  # Extended pickling support for Python objects
# msgpack # MessagePack (de)serializer.
# msgpack-numpy # Numpy data serialization using msgpack
# cysignals # Interrupt and signal handling for Cython
# h5py # Read and write HDF5 files from Python
# seaborn # Python visualization library based on matplotlib  - Basic
# SQLAlchemy # Database Abstraction Library
# sortedcontainers # Sorted Containers -- Sorted List, Sorted Dict, Sorted Set
# simplejson # Simple, fast, extensible JSON encoder/decoder for Python
# Pygments # Pygments is a syntax highlighting package written in Python.
# jsonschema # An implementation of JSON Schema validation for Python
# loguru # Python logging made (stupidly) simple
# click # Composable command line interface toolkit
# docutils # Docutils -- Python Documentation Utilities
# tabulate # Pretty-print tabular data
# regex # Alternative regular expression module, to replace re.
# toolz # List processing tools and functional utilities
# jmespath # JSON Matching Expressions
# dill # Serialize all of python
# imageio # Library for reading and writing a wide range of image, video, scientific, and volumetric data formats.
# pyparsing # Python parsing module
# graphviz # Simple Python interface for Graphviz
# colorama # Cross-platform colored terminal text.
# cffi # Foreign Function Interface for Python calling C code.

# # Development Helper
# twine # Collection of utilities for publishing packages on PyPI
# tox # tox is a generic virtualenv management and test command line tool
# pipenv # Python Development Workflow for Humans.
# poetry # Python dependency management and packaging made easy
# virtualenv # Virtual Python Environment builder
# pytest # pytest: simple powerful testing with Python
# autopep8 # A tool that automatically formats Python code to conform to the PEP 8 style guide
# flake8 # The modular source code checker: pep8, pyflakes and co
# black # The uncompromising code formatter.
# pylint # python code static checker
# pycodestyle # Python style guide checker
# pydocstyle # Python docstring style checker
# mock # Rolling backport of unittest.mock for all Pythons
# nox # Flexible test automation.
# pip-tools # pip-tools keeps your pinned dependencies fresh.
# virtualenvwrapper # Enhancements to virtualenv
# isort # A Python utility / library to sort Python imports.
# #jedi # An autocompletion tool for Python that can be used for text editors.
# pipreqs # Pip requirements.txt generator based on imports in project
# mypy # Static type checker

# # Web Frameworks
# tornado # Tornado is a Python web framework and asynchronous networking library, originally developed at FriendFeed.
# flask # A simple framework for building complex web applications.
# gunicorn # WSGI HTTP Server for UNIX
# uvicorn # The lightning-fast ASGI server.

# # ML libraries
# # TODO: tensorboard 2.4.0 introduces problem with relativ paths: https://github.com/tensorflow/tensorboard/issues/4421
# tensorboard # TensorBoard lets you watch Tensors Flow

# ## Glances
# psutil # Cross-platform lib for process and system monitoring in Python.
# bottle # Fast and simple WSGI-framework for small web-applications.
# netifaces # Portable network interface information.
# py-cpuinfo # Get CPU info with pure Python 2 & 3
# glances # A cross-platform curses-based monitoring tool
# pymdstat # Python library to parse Linux /proc/mdstat

# ## Jupyter
# # Via conda: ipython notebook jupyterlab
# ipykernel # IPython Kernel for Jupyter
# jupytext # Jupyter notebooks as Markdown documents, Julia, Python or R scripts
# jupyter-resource-usage # Simple Jupyter extension to show how much resources (RAM) your notebook is using
# ipympl # Matplotlib Jupyter Extension
# jupyterhub # JupyterHub: A multi-user server for Jupyter notebooks
# remote_ikernel # Running IPython kernels through batch queues
# jupyter_contrib_nbextensions # A collection of Jupyter nbextensions.
# jupyter_nbextensions_configurator # jupyter serverextension providing configuration interfaces for nbextensions.
# # TODO: jupyter-tensorboard version has a bug and hence does not support tensorboard 2.3 - 2.4 currently -> installed later
# nbdime # Diff and merge of Jupyter Notebooks
